/**
 * Stylesheet for CWS1 Project
 *
 * @author Ruben Thys <rubenmartin.thys@student.odisee.be>
 */

/* ===========================================
   CLEARFIX
   =========================================== */

.clearfix:after { 
	content: ""; 
	display: table; 
	clear: both; 
} 

/* ===========================================
   RESET
   =========================================== */

* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

/* ===========================================
   STRUCTURAL
   =========================================== */

.structural {
	position: absolute;
	left: -9999px;
}